body {
    --h1-color: hsl(300, 100%, 85%);
    --h2-color: hsl(280, 100%, 85%);
    --h3-color: hsl(260, 74%, 85%);
    --h4-color: hsl(240, 74%, 85%);
    --h5-color: hsl(220, 50%, 85%);
    --h6-color: hsl(200, 50%, 85%);
}