.mod-cm6 .cm-editor .HyperMD-header,
.markdown-reading-view .markdown-preview-section
:is(h1,h2,h3,h4,h5,h6)
{
    line-height: 1em !important;
    margin: 0em 0em 0em 0em !important;
    padding: 0.5em 0em 0em 0em !important;
}